body {
    font-family: Arial, Helvetica, sans-serif;
}

table, td {
    border: 1px solid darkblue;
    border-collapse: collapse;
}

.eerteKolom {
    background-color: #00293d;
    width: 75px;
    font-weight: bold;
}

.eersteRij {
    background-color: #fa6533;
    color:white;
}

td {
    text-align: center;
    height: 50px;
}

.heading {
    width: 75px;
    text-align: center;
    color: white;
}