body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    height: 50px;
    margin: 4px;
    text-align: center;
}

th {
    background-color: lightgray;
}

.kolom2, .kolom3 {
    width: 200px;
}

.kolom4, .kolom5 {
    width: 100px;
}

.groen {
    background-color: lightgreen;
}

.rood {
    background-color: red;
}

caption {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}