body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

form {
    width: 20%;
}

input, select{
    padding: 8px 16px;
}

input, select, fieldset {
    width: 100%;
    margin-bottom: 16px;
}

fieldset label input {
    width: 16px;
}

fieldset, input {
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: lightyellow;
}

fieldset {
    box-shadow: 2px 2px lightgray;
}