/*
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
    background-color: black;
    height: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 0px;
}

.active {
    background-color: green;
}

a:hover {
    background-color: gray;
}
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;    
    height: 70px;
    background-color: black;
}

ul li {
    float: left;
    background-color: black;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px;
}

.active {
    background-color: green;
}